*{
    background-color:antiquewhite;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    width: 60%; 
    margin: 0 auto; 
    padding:5px;
    border: 1px solid #ccc; 
    background-color:antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
   
}

.blog img{
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto ;
}
/* Style the header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:antiquewhite;
    color: black; 
}

/* Style the social media icons */
.social-icons {
    display: flex;
    gap: 10px;
    color:black;
}
.social-icons a{
    font-size: 20px;
    color:black;
    transition:0.2s;
}
.social-icons a:hover{
    color:#800000;
}

/* Style the navigation links */
#main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

#main-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px; 
    
}

#main-menu ul li::after{
    content:'';
    width:0%;
    height:2px;
    background-color: #2F4F4F;
    display: block;
    margin: auto;
    transition: 0.5s;

}

#main-menu ul li:hover::after{
    width: 100%;
}



/* Mobile menu styles */
#mobile-menu {
    display: none;
    position: absolute;
    top: 55px; 
    right: 10px;
    width: 95%;   
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    
}

#mobile-menu ul {
    list-style: none;
    text-align: center;
}



#mobile-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

/* Toggle button styles */
#mobile-menu-toggle {
    display: none; /* Hide by default for larger screens */
    background: none;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    padding: 5px 10px;
    
}

@media screen and (max-width: 800px) {
    #mobile-menu-toggle {
        display: block; /* Show toggle button for smaller screens */
    }

    /* Show hide mobile menu */
    #mobile-menu.active {
        display: block;
    }

    /* Hide main menu on mobile */
    #main-menu {
        display: none;
    }
}








/*blog container*/
.blog-container{
    padding: 20px;
}
h1{
    font-size: 28px;
    text-align: center;
}

p{
    font-size: 20px;
    text-indent: 3rem;
    line-height: 1.5;
    padding-bottom: 5px;
}

h2{
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    
}

.row{
    padding:0 10px 30px 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 20px 40px;
}

.place-col{
    display:grid;
    position:relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    

}

.place-col img{
    width: 100%;
    height: 250px;
    display:block; 
    
    
}

.image-container{
    position:relative;
    height: 250px;
}



.place-col {
    position: relative;
    overflow: hidden;
}

.layer h3{
    width: 100%;
    color:#fff;
    background: none;  
    font-weight: 500;
    font-size: 26px;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    opacity:0;
    transition: 0.5s;
    text-align: center;
    
}

.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
    
}


.place-col:hover .layer{
    background-color:  rgba(160, 102, 165, 0.418);   
}



.image-container:hover .layer h3{
    bottom:32%;
    opacity:1;  
}

@media screen and (max-width: 768px) {
    .blog{
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    p{
        font-size: 15px;
    }
    .row {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
    }
}






/*------Contact-------*/

.contact{
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto 20px;
}

.container-contact{
    width:60%;
    background:antiquewhite;
    border-radius: 20px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    margin:auto;
}


.container-contact .content{
    display:flex;
    align-items: center;
    justify-content:space-around;

}

.container-contact .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;

}

.content .left-side .details{
    margin: 14px;
    text-align: center;

}
.content .left-side .details .icon{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;

}

.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 18px;
    color: #afafb6;
}

.container .content .right-side{
    width: 75%;
    margin-left:75px;
}

.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:#F0F1F8 ; 
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box{
    min-height: 110px;

}
.right-side .input-box textarea{
    padding-top: 6px;
}

.right-side .button{
    display:inline-block;
    margin-top:12px;
}

.right-side .button input[type="button"]{
    color:#fff;
    font-size:18px;
    outline:none;
    border:none;
    padding:8px 16px;
    border-radius:6px;
    background-color: #3e2093;
    cursor: pointer;
    transition: all 0,3s ease;
}
.button input[type="button"]:hover{
    background-color: #5029bc;
}

@media(max-width:950px){
    .container-contact{
        width: 89%;
        padding:30px 20px;
    }
    .container-contact .content .right-side{
        width: 75px;
        margin-left: 55px;
    }
}

@media(max-width:820px){
    .container-contact{
        margin:40px 0;
        width: 89%;
        padding: 30px 20px;
    }
    .container-contact .content{
        flex-direction: column-reverse;
    }

    .container-contact .content .left-side{
        width:100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-contact .content .left-side::before{
        display:none;
    }

    .container-contact .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}


/*---Destinations-----*/
hr{
    width: 100%;
    border: 1px solid black;
    
}
.Destination{
    width: 60%;
    margin: auto;
    text-align:center;
    
}

.text {
    margin: 30px;
}
.Destination .row {
    margin-top: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 800px; 
    margin: 0 auto;   
    position: relative;
    overflow: hidden;
}

.column{ 
    text-align: center;
    flex: 1;

}

.column img{
    height: 350px; 
    width:300px;
    display: block;
    margin-left:0.5rem;
    margin-right: 0.5rem;
    margin-top:0.25rem;
    margin-bottom: 0.25rem;
}



